[2020-06-07 06:11] markdumay opened #1 "Verify default logging driver on Synology"
Despite changing the logging driver to a json-file driver, docker on synology still seems to default to db-driver. Verification is required.

[2020-06-11 11:02] hirenshah opened #2 "Compose version Unknown + Minor Typo"
[code]

Should there be a Docker Compose version displayed, rather than "Unknown"?

Also, "stopped" is spelt incorrectly :p

[2020-06-11 11:09] hirenshah opened #3 "dockerd.json not updated"
Just did the full update process and found that my containers wouldn't start due to the "db" log driver not being found.

After a little digging, I noticed that the:
`/var/packages/Docker/etc/dockerd.json`

Still contains:
[code]

The last time this file was changed was a month ago... guess that is when I installed a DSM update.

[2020-06-11 11:19] markdumay commented on #3
Thanks for catching this issue, it confirms my suspicion for issue #1. The log driver should be "json-file" instead of "db", as the db driver is specific to Synology's Docker package. It looks like "execute_update_log()" in the script does not work as expected, I'll look into it.

[2020-06-11 11:32] markdumay commented on #2
Strange, the script should indeed detect the latest compose version automatically. Can you try running below command from your Synology command line? It should return '1.26.0'.

[code]

The message `pkgctl-Docker stoped.` is generated by `synoservicectl`, so unfortunately not a message I can change myself.

[2020-06-11 11:33] markdumay commented on #1
Replaced by #3.

[2020-06-11 11:33] #1 closed, assigned to markdumay

[2020-06-11 11:40] hirenshah commented on #3
@markdumay

Line 394:
[code]

Is the second half right?  If it found a match, it would return `0`, which is `true`.  The return code you are looking for should be anything other than `0` right?

[code]

[2020-06-11 11:45] hirenshah commented on #2
Yep, it returned:
`1.26.0`

Haha, that makes the typo even funnier :D

[2020-06-11 12:20] markdumay commented on #3
You're right, the second half is incorrect. I updated the function as follows:
[code]

A new branch 'logdriver' is available, care to try it?

[2020-06-11 12:25] hirenshah commented on #3
Sure :)

I'm just restoring everything and then will attempt the update again :)

[2020-06-11 12:35] hirenshah commented on #3
/Edit: Ignore Me :p

[2020-06-11 12:46] markdumay commented on #3
OK, I did a rerun on my NAS too, and it looks like $SYNO_DOCKER_JSON_CONFIG is not parsed correctly yet... I'll update the variable and will push it to the branch

[2020-06-11 12:52] hirenshah commented on #3
So, I couldn't restore the backup... I got this:

[code]

So I extracted it myself and restored the files manually.

Just noticed the "Step 2 from 5" path... guessing the two variables shouldn't be put together?

[2020-06-11 12:53] hirenshah commented on #3
Ahh yes, I just noticed that :)

At least it is a step in the right direction :)

[2020-06-11 12:57] markdumay commented on #3
ok, $SYNO_DOCKER_JSON_CONFIG is working on my NAS now. I had to manually delete `/var/packages/Docker/etc/dockerd.json` first, because the script detected the `json-file` driver, whilst the file itself had an incorrect syntax. :-/

[2020-06-11 12:59] markdumay commented on #3
`/volume1/docker/synology-docker//volume1/docker/synology-docker/docker_backup_200611115000.tgz` looks like another bug indeed, the -b flag should in theory override the working directory. I'll create a new issue.

[2020-06-11 13:03] markdumay opened #4 "Incorrect message when extracting Docker backup"
When specifying the `-b` flag to restore from a backup, the working directory is not correctly updated when specifying a fully qualified path. The script tries to extract `/volume1/docker/synology-docker//volume1/docker/synology-docker/docker_backup_200611115000.tgz` for example, while this should be `/volume1/docker/synology-docker/docker_backup_200611115000.tgz`.

[2020-06-11 13:04] hirenshah commented on #3
Weird... the restore process worked perfectly this time round.  I ran the same command as the one I mentioned here:
https://github.com/markdumay/synology-docker/issues/3#issuecomment-642626168

[2020-06-11 13:13] hirenshah commented on #4
Sorry, I should have been clearer... it doesn't try and extract the file using that path.  I think the only issue here is the text you are outputting for "Step 2 from 5" :)

[2020-06-11 13:14] markdumay commented on #3
That's weird indeed. I checked the code and noticed an issue here:
[code]

Print_status incorrectly prepends `$WORKING_DIR/` as this is already present in `$DOCKER_BACKUP_FILENAME`. However, that should not have impact on the `tar` command as it uses `$FILENAME` instead.

[2020-06-11 13:22] markdumay commented on #4
No worries, I copied the original incorrect output below.
[code]
Nevertheless, it should be step 2 out of 5, no? These are the steps for a `restore` command:
[code]

[2020-06-11 13:26] markdumay commented on #4
OK, created a new sub branch `restore` that fixes the message.

[2020-06-11 20:52] hirenshah commented on #4
Before I read your latest message, I had already looked at the script and found the issue.  I've not tested it, but can confirm that the change you made is the same as what I had in mind.

[2020-06-11 21:32] hirenshah opened #5 "Clean Working Directory"
If I was to run the UPDATE command without any options specified, would Step L) delete the backup made in Step D)?

Fortunately I had a backup because I ran BACKUP with a path specified first.  After running the UPDATE, I checked both the directory where the script was located and `/tmp/docker_update`... there was no backup in the script folder, and `/tmp/docker_update` didn't even exist.

**Sugge

[2020-06-12 04:25] markdumay commented on #2
My guess is that the web scraping call sometimes times out, perhaps GitHub has some kind of rate limiting in place. I encountered a similar issue in another repository. My suggestion is to include a default value for the Docker engine and Docker Compose binary to revert back to in case curl fails.

[2020-06-12 04:26] markdumay commented on #4
Great, I'll merge this branch with the master and will close this issue.

[2020-06-12 04:32] #4 closed, assigned to markdumay

[2020-06-12 05:23] markdumay commented on #5
Thanks a lot for your suggestions Hiren, I truly appreciate your feedback. I'm a fan of geeky stuff too. :-) Below my comments on your suggestions:
1. Fully agree, fortunately the step `execute_clean()` only deletes the subfolder `docker` with the command `rm -rf "$WORKING_DIR/docker"`. I clarified the documentation directly in the master.
2. Good catch, I fixed it directly in the master.
3. I agr

[2020-06-12 05:25] markdumay commented on #5
My current proposed changes are:
1. Change default directory of backups to the current directory where the script is located (`dirname $0`)
2. Rename `$WORKING_DIR` to `$TEMP_DIR` to avoid confusion

[2020-06-12 05:25] markdumay commented on #5
A new feature branch is ready, care to review?
[code]

A summary of the key changes:
1. The `$WORKING_DIR` is split into `$TEMP_DIR`, `$BACKUP_DIR`, and `$DOWNLOAD_DIR`. The `$TEMP_DIR` is now used for extracting files only and is recreated at the start of the script. The `update` command clears the directory when finished too. Both `download` and `install` use the `$DOWNLOAD_DIR` path, which is e

[2020-06-12 07:15] #2 closed, assigned to markdumay

[2020-06-12 18:53] markdumay opened #9 "Use GitHub API to detect latest Docker Compose version"
Replace the current web scraping instruction with a GitHub API request. Below example detects the latest `restic` version that can be adapted:
[code]

[2020-06-13 06:00] markdumay opened #10 "Add script confirmation step"
Prompt the user to confirm an install, restore, or update command.

[2020-06-13 06:01] markdumay opened #11 "Clarify disclaimer / usage"

[2020-06-13 06:02] markdumay opened #12 "Cannot reach containers in bridge mode"
Setting up Docker on your Synology with the *synology-docker* script might result in difficulty connecting with containers in **bridge mode**.

[2020-06-16 18:29] #5 closed, assigned to markdumay

[2020-06-16 18:30] #9 closed, assigned to markdumay

[2020-06-16 18:30] #10 closed, assigned to markdumay

[2020-06-16 18:31] #11 closed, assigned to markdumay

[2020-06-27 09:07] markdumay commented on #12
Docker supports several types of [network drivers](https://docs.docker.com/network/) for running containers. The most common ones are:
 * `bridge` - The default network driver, which allows containers on the same network to communicate with each other by hostname. Docker [recommends](https://docs.docker.com/network/bridge/) to setup a user-defined bridge network instead of the default bridge netwo

[2020-07-03 19:36] doctorpangloss opened #15 "docker-compose not copied correctly"
[code]

Observe the install command fails to copy `docker-compose` (it was downloaded correctly)

[code]

[2020-07-04 05:59] benbernard opened #16 "Thank you so much!"
Just wanted to say thank you for making this, looks like it was a lot of work, and helped me a bunch!

![image](https://user-images.githubusercontent.com/414995/86506087-e691cd80-bd80-11ea-905c-d943767bcc84.png)

[2020-07-04 09:14] markdumay commented on #16
thanks a lot, appreciate it!

[2020-07-04 09:14] #16 closed, assigned to nobody

[2020-07-04 10:00] markdumay commented on #15
It seems the function `execute_install_bin()` uses the wrong source directory for the `docker-compose` binary. It wrongfully ignores the provided `./docker` path. I created a new branch called `install`, care to test if it works correctly now?

[2020-07-11 01:15] hirenshah opened #17 "Uptime in Synology Docker UI"
This isn't an issue with the script but thought I would ask here because it's caused by the update.

The uptime stats visible in the Synology Docker UI are invalid following the update.

Has the way the uptime is calculated / stored been changed between Docker versions? Is it something we can manually fix?

[2020-07-17 05:41] #15 closed, assigned to markdumay

[2020-07-17 05:55] markdumay commented on #17
I have the same issue with Synology's Docker UI. Running `docker ps` from the terminal works fine, but the up time in Docker UI is garbage. Clicking on a container in the UI shows "Invalid time format", which might be a clue. I haven't found a solution yet.

[2020-08-15 06:17] MIBmusic opened #19 "Stuck at step 3"
Probably I am missing something but the script is stuck at step 3. I can see Docker has stopped but the containers are still running. Is that even possible? Or should I let docker run and shut the containers?

[2020-08-15 10:10] markdumay commented on #19
That’s strange indeed. The script should stop the Docker service including all running containers. Can you share the script command and your console output?

[2020-08-15 10:17] MIBmusic commented on #19
Hi Mark, I run Home Assistant as a container and I found out that the Supervisor and HA start again within a minute after they stopped. I think I need to figure out how that happens with that before I try again. I will let you know ok?

[2020-08-15 10:43] MIBmusic commented on #19
ash-4.3# cd synology-docker
ash-4.3# sh syno_docker_update.sh update
Update Docker Engine and Docker Compose on Synology to target version

Current DSM version: 6.2.3
Current Docker version: 18.09.8
Current Docker Compose version: 1.24.0
Target Docker version: 19.03.12
Target Docker Compose version: 1.26.2

WARNING! This will replace:
  - Docker Engine
  - Docker Compose
  - Docker daemon log driv

[2020-08-15 11:40] markdumay commented on #19
The version checks and the first two steps appear to be fine. Normally, step 3 would then either return a confirmation it stopped synoservice successfully, or return an error message. It seems no message is returned at all? What happens if you run 'synoservicectl --status pkgctl-Docker' directly from your command line?

[2020-08-15 15:02] MIBmusic commented on #19
Hi Mark,

So I was at the point that Docker stopped, the containers where still running and the script was stuck at step 3. At that time I started docker again and at some point during the startup your script began to run and finished the update. I have no idea what happened and how that is possible but it did happen!

[2020-08-15 17:03] markdumay commented on #19
Very strange! The only thing I can imagine is that synoservicectl has entered a race condition (deadlock) with the Home Assistant containers preventing a proper shutdown of the Docker service. I might need to add a timeout for the update script to prevent endless waiting for synoservicectl. Did the update work correctly in the end though?

[2020-08-15 17:24] MIBmusic commented on #19
Could this be happening in combination with the very persistant Home Assistant?

https://docs.docker.com/config/containers/live-restore/

By the way, I am good and the update went prefectly so thanks for that!!!

[2020-08-15 18:01] markdumay commented on #19
Glad to hear it worked in the end! It’s worth looking into live restore indeed, it could well be the cause. I haven’t seen it before. In any case, I’ll create a new issue to add the timeout functionality to the script.

[2020-08-15 18:06] markdumay opened #20 "Add timeout functionality"
The synoservicectl daemon does not always terminate as expected, possibly due to a conflict with Docker's live restore. To make the script more robust, a time-out should be added when calling such service, or when invoking any other command for that matter.

[2020-08-15 18:08] #19 closed, assigned to nobody

[2020-08-24 10:35] maxbec commented on #3
Hey guys,
i still get the error on my influxdb docker file when i try to start it after the update:
Create container InfluxDB failed: {"message":"logger: no log driver named 'db' is registered"}.

[2020-08-24 16:36] markdumay commented on #3
Hi Max,

To better understand potential causes, can you share the following?
- Your Dockerfile and/or Docker command for running influxdb
- The syno_docker_update.sh command and console output
- Your Docker path (should be /var/packages/Docker)

Thanks,
Mark.

[2020-08-25 06:36] maxbec commented on #3
Hi @markdumay ,

- Dockerfile command:
`$ docker run -p 8086:8086 \
      -v $PWD:/var/lib/influxdb \
      influxdb`
- Syno_docker_update command:
` sudo ./syno_docker_update.sh update` (Console output was uneventful)
- Docker is in /var/packages/Docker

[2020-08-25 17:09] markdumay commented on #3
Ok, so the syno_docker_update command didn’t show any messages at all? Are you sure the script output is directed to your terminal then?

[2020-08-27 15:38] maxbec commented on #3
There were a lot of messages. But no fail messages. And i didn't save them, sorry :/

[2020-08-27 16:06] markdumay commented on #3
Ok, then it’s going to be difficult to understand to what point the script actually ran... if you’re up for it, would you mind rerunning the script and sharing the exact console output?

[2020-09-11 05:57] #3 closed, assigned to markdumay

[2020-09-11 06:52] markdumay opened #21 "Containers cannot be launched via Docker UI"
The Synology Docker package comes with a user interface (UI) to monitor and launch containers. Unfortunately, the launching of containers via the UI no longer works after having upgraded Docker with *Synology-Docker*. This could be caused by the specific Docker logging driver of Synology. Launching containers from the command line (via either Docker or Docker Compose) still works. [Portainer](http

[2020-10-27 21:23] worldofgeese opened #22 "Updated binaries are incompatible with btrfs"
Thanks for an excellent script!

Unfortunately, the updated binaries appear to be incompatible with BTRFS; given `docker stack deploy stack -c stack.yaml` all containers fail to launch with error: `Failed to create btrfs snapshot: inappropriate ioctl for device`.

[2020-10-28 05:38] markdumay commented on #22
That's unfortunate. My NAS still uses EXT4, so I'm not able to reproduce your error. However, after some research, possibly changing the storage driver might help? I used Docker's [guide](https://docs.docker.com/storage/storagedriver/btrfs-driver/) as a reference. Following step 6 of the guide, add `"storage-driver": "btrfs"` to `/var/packages/Docker/etc/dockerd.json`. Make a backup of the file fi

[2020-10-28 05:48] markdumay opened #23 "Adjust shell script to follow Google's shell style guide and shellcheck"
Sources:
* [Google's shell style guide](https://google.github.io/styleguide/shellguide.html)
* [shellcheck](https://github.com/koalaman/shellcheck)

[2020-11-04 15:01] worldofgeese commented on #22
Apologies it's been busy with work. Hope to get to this this weekend if not earlier.

On October 28, 2020 6:38:28 AM GMT+01:00, Mark Dumay <notifications@github.com> wrote:

[2020-11-04 21:58] Zenedith commented on #22
Hi,
Not working for me :(

[2020-11-05 05:18] markdumay commented on #22
Sorry to hear that @Zenedith. Would you happen to have a backup of `/var/packages/Docker/etc/dockerd.json` that you could share? Perhaps Synology's original configuration (prior to running the update with `synology-docker`) gives some additional clues to what's happening.

[2020-11-05 15:09] #23 closed, assigned to markdumay

[2020-11-05 16:13] #20 closed, assigned to markdumay

[2020-11-05 17:05] markdumay opened #26 "Validate host CPU is x86_64 compatible"

[2020-11-05 17:07] #26 closed, assigned to markdumay

[2020-11-06 16:26] mietzen commented on #22
Hi, I haven't tried this script yet, but wanted to.
This is the content of `cat /var/packages/Docker/etc/dockerd.json`
[code]

Info:
[code]

Edit:
That might be a hint:
https://together.jolla.com/question/92841/bug-btrfs-error-unable-get-label-inappropriate-ioctl-for-device/

Seems reasonable that a newer docker version is compiled against a newer version of the btrfs kernel module which is not pr

[2020-11-09 18:52] siddjellali opened #28 "Portainer container doesn't run"
Hi, after an upgrade with the script I cannot start any of my container.
I have this error message : "COI runtime exec failed: exec failed: container_linux.go:349: starting container process caused "exec: \"bin/bash"...

Current DSM version: 6.2.3
Current Docker version: 19.03.8
Current Docker Compose version: 1.27.4

My Synology is a DS918+

[2020-11-09 19:11] markdumay commented on #28
That's unfortunate. I haven't encountered this error before. Are you able start any new containers? For example, does `docker run hello-world` work?

[2020-11-09 19:27] markdumay commented on #22
Hi @ngerke, the `dockerd.json` looks like a standard Synology configuration to me. You might be right about the requirement to have a newer btrfs kernel module present on the NAS. If that's the case, the only thing that comes to mind is to test the script with an older target version for Docker.

[2020-11-09 19:39] siddjellali commented on #28
Yes ! Works well !
When i try to run portainer.

`docker run -d -p 8000:8000 -p 9000:9000 --name=portainer --restart=always -v /var/run/docker.sock:/var/run/docker.sock -v /volume1/docker/portainer:/data portainer/portainer-ce`

and i try to run the bash command in CLi:

[code]

[2020-11-09 19:45] markdumay commented on #28
Have you tried `docker exec -it portainer /bin/sh`? I'm not sure if `bash` is present in the portainer image.

[2020-11-09 19:52] siddjellali commented on #28
Yes it's the same !

[code]

If i restore my backup, Portainer runs well (expect for the environment bug i try to correct with your script)

[2020-11-09 20:07] siddjellali commented on #28
For information,

I delete all my container  and install portainer-ce with my directory conf --> same error
I delete all my container  and install portainer-ce without my directory conf --> same error
I delete all my container  and install portainer-agent --> same error
I try to install sonarr (https://hub.docker.com/r/linuxserver/sonarr) and it works well...

Can you try portainer-ce in your syno

[2020-11-09 20:17] markdumay commented on #28
I did a quick Google search, and found this [issue](https://github.com/portainer/portainer/issues/1454):

It looks like neither `bash` or `sh` is part of the portainer image. I did a test on my mac with Docker CE, and I get a similar error. However, the portainer website can be reached at `localhost:9000`. From your NAS console, try:
[code]

It should return `<meta name="author" content="Portainer

[2020-11-09 20:33] siddjellali commented on #28
ooooh yeah ! It works. I guess is related to brigde network issue.
I have your link here. https://github.com/markdumay/synology-docker/issues/12

Appreciate your support !

[2020-11-09 20:49] markdumay commented on #28
In this case, it might be easier to run the container using a host network. Try the following:
[code]

You should be able to reach portainer from the browser at `http://YOUR_NAS_IP:9000` from any machine on your local network.

[2020-11-09 23:19] siddjellali commented on #28
You make my day :P

[2020-11-09 23:19] #28 closed, assigned to nobody

[2020-11-10 10:37] siddjellali commented on #12
Do you know what is the root cause of this behavior ?

[2020-11-10 10:47] markdumay commented on #12
I suspect it has to do with the `iptables` configuration. Although the installation script sets up Docker's default routing rules, it appears Synology requires additional rules to get it working properly.

Setting up the macvlan driver in the [synology-pihole](https://github.com/markdumay/synology-pihole) gave me some clues, as I ran into a similar issue. Adding a static route did the trick for th

[2020-11-11 11:12] siddjellali commented on #28
For your information, i reproduce the issue.
I add a rule in iptable
`iptables -P FORWARD ACCEPT `
and it works now !

[2020-11-11 14:15] markdumay commented on #28
Sounds promising! Are you now able to access containers attached to a bridge network remotely?

[2020-11-14 20:20] rui-nar commented on #3
Hey there
I'm having the same issue.
Output :
[code]

 then I try to run my portainer container with:
`docker start portainer`
and I get:
`Error response from daemon: failed to initialize logging driver: failed to get logging factory: logger: no log driver named 'db' is registered: error looking up logging plugin db: plugin "db" not found
Error: failed to start containers: portainer`

Anything els

[2020-11-14 20:31] rui-nar opened #29 "still issues with "db" logging"
Hi
I provided additional details on issue #3 which is still exists for me.
Rui

[2020-11-14 22:19] rui-nar commented on #3
and maybe this helps as well:
[code]

[2020-11-15 05:26] markdumay commented on #29
Hi Rui, the script seems to have worked correctly on your NAS. The file `/var/packages/Docker/etc/dockerd.json` is also correct. It looks like the stopped container `portainer` is still bound to the now obsolete logging driver `db`. You can check the configured logging driver for `portainer` with the following command. Most likely it returns `db`, which is no longer available.
[code]

Your best be

[2020-11-15 05:34] markdumay commented on #28
I found similar advise on this forum [post](https://community.synology.com/enu/forum/1/post/131600). I'll update issue #12 and start working on a fix.

[2020-11-15 05:45] markdumay commented on #12
As pointed out by @siddjellali, adding `iptables -P FORWARD ACCEPT` should fix the networking issues. This forum [post](https://community.synology.com/enu/forum/1/post/131600) gives some additional pointers. I'll update the script to incorporate them. Below an excerpt of the solution:

8. Enable forwarding of all traffic from docker (i.e. egress traffic) using the command `sudo iptables -P FORWARD

[2020-11-15 06:23] markdumay opened #30 "Ensure root ownership for Docker binaries"
Revise the function `execute_install_bin()` to ensure the Docker binaries are owned by root. Below an excerpt of a related [post](https://community.synology.com/enu/forum/1/post/131600) on the Synology forum.

[2020-11-15 06:27] markdumay opened #31 "Ensure folder `/var/lib/docker/volumes` exists"
Revise the function `execute_install_bin()` to ensure the folder `/var/lib/docker/volumes` exists. Below an excerpt of a related [post](https://community.synology.com/enu/forum/1/post/131600) on the Synology forum.

[2020-11-15 11:13] rui-nar commented on #29
Thanks for the quick answer.

I'll try to re-update, remove and reinstall portainer.

I'll let you know how it goes.

[2020-11-15 20:33] rui-nar commented on #29
hey
I did as you suggested, I removed the container and recreated it with
`docker run -d -p 8000:8000 -p 9000:9000 --name=portainer --restart=always -v /var/run/docker.sock:/var/run/docker.sock -v /volume1/docker/portainer:/data portainer/portainer-ce`
but I can't seem to connect to it with 'http://192.168.0.50:9000`

I then did the `sudo iptables -P FORWARD ACCEPT` but still it doesn't work ... a

[2020-11-15 21:02] rui-nar commented on #29
@siddjellali Peux etre que tu m'aider ? (maybe you can help)

[2020-11-15 22:36] siddjellali commented on #29
From my side, i run this command :
You have to create the network t2_proxy, first.

`docker network create -d overlay t2_proxy`
`docker stack deploy --compose-file=/volume1/docker/portainer-ce.yml portainer` #swarm

**docker compose file :**

#################################
version: '3.7'
services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce
    restart: unless-s

[2020-11-16 09:12] markdumay opened #32 "Allow graceful stopping of script during Docker daemon start/stop"
The script uses a timeout of 5 minutes waiting for `synoservicectl` to start/stop the Docker daemon. The script is unresponsive capturing terminal input during the waiting, e.g. `ctrl-c` is not processed to stop the script execution.

[2020-11-16 10:26] #12 closed, assigned to markdumay

[2020-11-16 10:29] #30 closed, assigned to markdumay

[2020-11-16 10:29] #31 closed, assigned to markdumay

[2020-11-16 10:29] #32 closed, assigned to markdumay

[2020-11-16 11:27] markdumay opened #34 "Support stacked parameters"
See [docopt](http://docopt.org) for examples

[2020-11-16 21:06] rui-nar commented on #29
hey @siddjellali
I ran:
`docker network create -d overlay t2_proxy`
`docker stack deploy --compose-file=/volume1/docker/portainer-ce.yml portainer`

with
[code]

and yet I still cannot reach portainer at NAS_IP:9000

[2020-11-16 23:15] siddjellali commented on #29
Did you try this https://github.com/markdumay/synology-docker/issues/28#issuecomment-724254384 ?
Do you install the last package of @rui-nar (with the update about iptable) ?

[2020-11-17 20:44] rui-nar commented on #29
hi @siddjellali
while through the issue you mentioned I  noticed that @markdumay suggested running docker with `--network host`.
I tried that and it worked, for all my containers. I can now launch all my containers. Yaaayy

However, I started weird behaviours in my Synology NAS and in the /var/log/messages I'm getting a whole lot of:
`DiskStation synoscgi_SYNO.Core.Network.Bridge_1_list[29013]: ne

[2020-11-17 21:10] rui-nar commented on #29
maybe it's linked to my Synology Firewall and the rules I have defined in there ?
![image](https://user-images.githubusercontent.com/10478175/99450860-a5f6b300-2921-11eb-8881-82afbcccc6f3.png)

[2020-11-17 21:58] rui-nar commented on #29
After some more analysis it was all linked to the t2_proxy network I had created. AFter removing that I no longer have the weird behaviors.

I still have something to srot: on my reverse proxy, where I had localhost it doesn't work anymore, I have to manually put the IP of my NAS for the redirect to work. Weird, no ?

[2020-11-18 06:50] markdumay commented on #29
@rui-nar glad to hear you were able to pinpoint the root-cause of your issues. Docker networking can be a real pain. Synology's customization also doesn't help.

[2020-11-18 17:36] siddjellali commented on #29
@rui-nar glad to hear that too :)

[2020-11-18 21:58] rui-nar commented on #29
so, not at all fixed ... :(
BUT
now I know the problem and I had it all wrong. One of the containers I have is haugene/transmission-openvpn (which comes with a VPN server to fulle traffic for transmission client). By setting this container to network host, it is funneling ALL my synology traffic through the VPN so all my reverse proxy redirect don't work.

I am trying to run this container in brid

[2020-11-19 19:30] rui-nar commented on #29
Hey @markdumay
I think you can close this issue.

I have been able to understand the problems but as the `bridge` mode is not currently working with this set-up, for my own usage, I'll have to revert back to the "official" synology version ...

I'll keep monitoring your repository in case you eventually are able to solve the issues with `bridge`

I appreciate the time you spent helping me debug.
C

[2020-11-19 19:36] markdumay commented on #29
@rui-nar sure, no problem - let me know if you have any new insights! On my NAS, the IP forwarding rule seems to be working for now, but I'll keep an eye on it.

[2020-11-19 19:36] #29 closed, assigned to nobody

[2020-11-19 20:02] rui-nar commented on #29
is it working for you with `bridge` ? or deployed with `--network host` ?

[2020-11-20 06:58] markdumay opened #35 "Cannot reach containers attached to user-defined bridge network"
Containers attached to the **default bridge network** work as expected. The following command should spin up `portainer` correctly.

[code]

However, attaching it to a **user-defined** bridge network doesn't work correctly yet. Steps to reproduce:
[code]

Docker provides extensive [documentation](https://docs.docker.com/network/bridge/) about bridge networking. Especially the section *Enable forwa

[2020-11-20 06:59] markdumay commented on #29
I did some more research. The command `sudo iptables -P FORWARD ACCEPT` works for the **default bridge network**. The following command spins up `portainer` correctly on my NAS.
[code]

However, attaching it to a **user-defined** bridge network doesn't work correctly yet.
[code]

Docker provides extensive [documentation](https://docs.docker.com/network/bridge/) about bridge networking. Especially

[2020-11-20 10:17] rui-nar commented on #35
hey @markdumay , I appreciate your tenacity 👍

Yesterday I spent some time getting everything "back to normal".
Today I got your email so I re-tried the update and a simple portainer launch in bridge mode.

I can confirm it doesn't work for me. not even with the sysctl and the uptables policy change. Btw, I attach below the extract of my iptables in case that can help:
[code]

restoring the previo

[2020-11-23 09:50] Zenedith commented on #22
Hi, mine looks like this:

[code]

[2020-11-29 14:55] farberm opened #38 "Folder location"
I am using a synology 513. with docker installed. I cannot determine what the proper location to install synology-docker folder into?
Sorry for the NOOB question

[2020-11-29 15:25] markdumay commented on #38
No worries! You can use the script from any location. I use /volume1/docker/synology-docker myself, but that’s just a personal preference.

[2020-11-29 20:03] farberm opened #39 "Binaries not installed"
The following binaries could be created - text file busy?

Step 4 from 7: Installing binaries
cp: cannot create regular file ‘/var/packages/Docker/target/usr/bin/containerd’: Text file busy
cp: cannot create regular file ‘/var/packages/Docker/target/usr/bin/containerd-shim’: Text file busy
cp: cannot create regular file ‘/var/packages/Docker/target/usr/bin/docker’: Text file busy
cp: cannot create

[2020-11-30 06:14] #38 closed, assigned to nobody

[2020-11-30 06:17] markdumay commented on #39
By the looks of it, the Docker binaries seem to be locked by another process. Normally the script stops the currently running Docker daemon before attempting to copy the new binaries. Would you mind sharing the full logs? And what are the results if you list the currently running Docker processes, e.g. `docker ps`? Perhaps the comments in issue #19 are helpful too.

[2020-11-30 06:27] markdumay commented on #22
hi @Zenedith, the `syno_docker_update.sh` script uses below configuration by default. Synology's `db` log driver is not supported and is replaced by `json-file` instead.

[code]

What happens if you manually update the `dockerd.json` file yourself? E.g.

[code]

What comes to mind is that `syno_docker_update.sh` is a bit too aggressive in replacing the entire `dockerd.json` file. Instead, it would

[2020-11-30 06:32] markdumay opened #40 "Adjust update of log driver configuration"
The `syno_docker_update.sh` script updates the file `/var/packages/Docker/etc/dockerd.json` to fix an issue with Synology's `db` log driver. However, the script replaces the entire configuration file, instead of fixing the offending log driver only. This might introduce unwanted side effects.

[2020-11-30 12:49] merlin-zaraza commented on #40
Getting `Error response from daemon: failed to initialize logging driver: failed to get logging factory: logger: no log driver named 'db' is registered: error looking up logging plugin db: plugin "db" not found` after docker update and trying to start container

[2020-11-30 12:56] markdumay commented on #40
Can you share the full log of the `syno_docker_update.sh` command you ran? And what is the current content of your `/var/packages/Docker/etc/dockerd.json` file?

[2020-11-30 12:58] merlin-zaraza commented on #40
[code]

[code]

[2020-11-30 13:06] markdumay commented on #40
Both the script and daemon configuration appear to be fine. Can you try stopping and restarting the container(s)? It seems to refer to the now obsolete db log driver.

[2020-11-30 13:11] merlin-zaraza commented on #40
yep, remove old container and add it again helps
thank you

[2020-11-30 13:12] markdumay commented on #40
Great! I'll add an instruction to the README too ;-)

[2020-11-30 13:32] markdumay opened #42 "Known issues"
Using *Synology-Docker* to update your Synology Docker package is known to bring a few issues. They are listed below, including their workaround if available.

* **Docker returns "failed to initialize logging driver" after updating** - Synology implemented a custom logging driver called `db`, which is not supported by the Docker binaries installed by `syno_docker_update.sh`. The script updates the

[2020-11-30 21:53] farberm commented on #39
I do not think so. I get the error that docker daemon could not be stopped. I have checked all the containers and stopped them manually. Is there a way to stop docker with terminal command before I run your script cuz it does not appear to be stopping the docker service

Step 1 from 7: Stopping Docker service
ERROR: Could not stop Docker daemon
admin@FarberSynology:/volume1/docker/synology-docker$

[2020-11-30 22:22] photocyte commented on #22
Hi there,
Thanks for the great script! I ran into this same issue on a DS1819+ with a brtfs filesystem, where after updating Docker through the script, running ```docker pull``` would produce the ```Failed to create btrfs snapshot: inappropriate ioctl for device.``` error.

I found that editing ```/var/packages/Docker/etc/dockerd.json``` to use the ```vfs``` storage device instead of ```brtfs``` w

[2020-12-01 05:38] markdumay commented on #39
I see, that part was missing from your log file. :-) The script invokes `synoservicectl --stop pkgctl-Docker` to stop the Docker daemon from running. This is Synology's way to control daemons and/or DSM packages. I've seen similar errors in cases where certain containers prevent a proper shutdown. Home Assistant is a well-known example (see #19). I'll add a new issue to implement a new flag to sto

[2020-12-01 05:55] markdumay opened #45 "Add flag to stop containers before updating"
The script invokes `synoservicectl --stop pkgctl-Docker` to stop the Docker daemon. Certain containers prevent a successful shutdown, possibly linked to Docker's [Live Restore](https://docs.docker.com/config/containers/live-restore/) feature.

Usually, manually stopping any running containers prior to running `syno_docker_update.sh` does the trick. A new flag (e.g. `--force-stop`) for all commands

[2020-12-01 06:59] markdumay commented on #22
Thanks for sharing @photocyte! This might be very helpful for others too. On a side note, the `vfs` storage driver is also how someone got [Docker running on Apple silicon M1](https://finestructure.co/blog/2020/11/27/running-docker-on-apple-silicon-m1) apparently.

I'm considering to add a new flag to the script, supporting an alternative storage driver such as `vfs`. Some thoughts:
1. Add detecti

[2020-12-04 02:44] exotsk commented on #40
Start container portainer failed: {"message":"failed to initialize logging driver: failed to get logging factory: logger: no log driver named 'db' is registered: error looking up logging plugin db: plugin \"db\" not found"}.
--
Any variants of  `/var/packages/Docker/etc/dockerd.json` from `Updated binaries are incompatible with btrfs #22` was not help.
Recreating containers have the same error, i

[2020-12-04 07:39] markdumay commented on #40
hi @exotsk, to help me identify potential causes of your issue, would you mind submitting a new issue using the bug report template?

[2020-12-04 07:41] markdumay opened #46 "Store logs on disk"

[2020-12-07 14:43] fenio commented on #39
I've just hit the same issue. And I'm running hass.io (HomeAssistant).
When I try to stop docker service via web gui then it says that hass.io depends on it.
I guess you should try to list docker dependencies and first stop them one by one and then proceed to stopping docker.
Anyway after some messing around I was able to update my docker but now it fails to start any container with:

Start contai

[2020-12-08 07:07] markdumay commented on #39
Hi @fenio, I've added issue #45 to force stop the containers from the command line. The other issue regarding the log driver is a known issue, see #42.

[2020-12-08 22:32] 1activegeek commented on #22
Thank you guys for this continued discussion and the solution using vfs driver. I was running into this very issue myself recently as I want the benefit of btrfs, but would like to operate on a newer Docker version as well. I wanted to report that I was successful with this method as well. I did have to simply stop and start the docker service through the Syno interface and was off to the races.

[2020-12-09 06:00] markdumay commented on #22
Thanks for sharing your findings @1activegeek. Regarding the network issues, are they related to user-defined bridge networks (#35)? I suspect the iptables configuration needs some additional tweaks on Synology for these kind of networks. In another [repository](https://github.com/markdumay/synology-pihole) I scripted some steps (see the function `execute_create_macvlan()` specifically), and added

[2020-12-09 22:53] 1activegeek commented on #22
Wow, yup you are correct. I must have been dense in my reading of that on the Known Issues. Sorry for that. Yes it would appear that is the issue I'm facing. I've just tested the reboot and it does look as though you are correct, it has lost it's connectivity. Will bring my finding to that issue to discuss.

So net/net - ignore my previous comment - and thanks for the workaround! 😄

[2020-12-09 22:55] 1activegeek commented on #35
So I was able to successfully use the iptables command above that you mentioned to get successful connectivity on my docker custom network. I'm not sure if it has to do with the fact that I created the bridge prior, but I wouldn't think it should.

That said - my bigger question/concern - is the impact of that policy change really something we want here? Especially if hosting something such as say

[2020-12-10 07:01] markdumay commented on #22
No problem, glad to hear it's working now! Looking forward to your additional findings.

[2020-12-10 07:46] markdumay commented on #35
I agree with your concern, it wouldn't be great to suddenly have your NAS fully exposed to the public internet. It's quite a challenging subject, as Docker messes with the iptables quite a bit under the hood. I found this [discussion](https://stackoverflow.com/a/61950685) on stack overflow with some in-depth observations about Docker's networking configuration.

[2020-12-22 02:33] 1activegeek commented on #35
For now I'm reverting to the official supported docker. I followed a tutorial around Traefik setup that highlighted being able to just drop in replace the docker-compose binary - which is the core of what I needed. Would it be possible to make a modification to this script that could do this work instead? If left to my own devices, I might be able to augment your script and/or make a PR. But I fig

[2020-12-22 08:36] markdumay commented on #35
Hi @1activegeek, I added preliminary support for your request in the `develop` branch. I haven't thoroughly tested it yet (and I'm about to go offline for a few days ;-) ) - especially the `execute_restore_bin()` function requires testing. Care to give it a spin? Curious to hear your thoughts!

The general approach I followed was to support a new flag `--target`. If set, you can specify to target

[2020-12-22 12:57] siddjellali opened #47 "Lost of connectivity after reboot"
Hi @markdumay,

Each time i performed a reboot, i lost everything.
Docker is running but no of my container is available. I not sure what is the issue.
I solved this by restoring and upgrading all with your script.

Do you experience the same issue with reboot of your synology nas ?

[2020-12-26 12:21] markdumay commented on #47
Hi @siddjellali, that's odd - it's not something that I recognize on my own NAS. I updated DSM to the latest available version (Version: 6.2.3-25426 Update 3) this morning, and Docker restarted all of my containers as expected. However, I'm still on Docker version 19.03.13 and haven't updated to the latest version yet.

How did you initially start your containers? Do you use Synology's Docker UI,

[2020-12-26 12:32] markdumay commented on #35
For those interested, I ran into this [gist](https://gist.github.com/PedroLamas/db809a2b9112166da4a2dbf8e3a72ae9) by @pedrolamas. I haven't tested it myself yet, but it seems worth looking into.

[2020-12-26 12:37] jprates commented on #47
A bit off-topic, but what NAS do you own @markdumay ?
My DS916+ has the same DSM version as yours and yet the latest docker version available to me is the old 18.09.0-0513.

[2020-12-26 12:51] markdumay commented on #47
My NAS is a Synology DS918+ with 8GB RAM. This [repository](https://github.com/markdumay/synology-docker) hosts a script to manually update the Docker Engine and/or Docker Compose to the latest version available (as maintained by the Docker team instead of by Synology). I developed the script to address the lack of decent Docker Swarm support by Synology's Docker package. However, the script is no

[2020-12-26 12:56] pedrolamas commented on #35
Hey @markdumay, not sure if this will help but I wrote a post on the reason behind that gist and what it helps to fix: https://www.pedrolamas.com/2020/11/04/exposing-the-client-ips-to-docker-containers-on-synology-nas/

[2020-12-26 13:04] markdumay commented on #35
Thanks for the heads up @pedrolamas! I was indeed curious about the reason behind your script. I'm running Pi-Hole on my NAS - eager to find out if your script fixes the missing client IPs. I like the WOMM certification by the way. ;-)

[2020-12-26 13:30] pedrolamas commented on #35
Ah, if the problem you are experiencing is the missing client IPs in Pi-hole, then yes, that script will indeed fix that! 🙂

[2020-12-26 13:42] markdumay commented on #35
Cool! It probably won't solve the networking issues mentioned in this issue thread then - I'll create a new issue in this [repository](https://github.com/markdumay/synology-pihole) instead ;-).

[2020-12-26 14:00] jprates commented on #47
Ah, ok, that explains it.
Thanks, I already knew that repository but alas my NAS is working on btrfs, so it does not work for me.
Probably the reason Synology themselves are taking more time to release v19, they usually are only one release behind.

[2020-12-28 11:26] siddjellali commented on #47
Hi @markdumay sorry for my late reply. _Very good Christmas and New Year :P_
Well i have also did (automaticaly) the upgrade of my NAS in 6.2.3-25426 Update 3 during the night;
In the next morning, i noticed all my container was up but not reachable even after restart the all nas twice ^^.

When my nas reboot i have to restore with my backup and upgrade the nas again.
Maybe a specific command on y

[2020-12-28 16:51] markdumay commented on #47
No worries - hope you had a wonderful Christmas, despite Covid-19! I just finished watching "Death to 2020" on Netflix - spot on I'd say.

I'm still on the old Docker version `19.03.13` and haven't updated to the latest version yet. My docker-compose is on version `1.27.4` though. Did you have to revert back to the previous Docker version to get it up and running? And what kind of additional comma

[2020-12-29 19:46] siddjellali commented on #47
Hehe thanks. I hope all is well on your side too.
Did you have to revert back to the previous Docker version to get it up and running? **YES**
And what kind of additional command / specific element to reload would you be looking for? **it's what I am looking for.**

Any idea ?

[2020-12-30 03:10] 1activegeek commented on #35
Wow. I wish I had read my mail earlier than trying to trailblaze around. I just spent about the last 4 hours trying to troubleshoot this exact issue, and JUST stumbled upon your script @pedrolamas. I'm pulling up a `man iptables` now to decipher for myself what the rule is actually doing in the grand scheme. If it doesn't seem to terrible, I'll roll with it. So thank you in advance for the script,

[2020-12-30 06:48] rui-nar commented on #35
Shawn, did @pedrolamas script solve the "bridge" issue for you?

On Wed, Dec 30, 2020, 04:10 Shawn Mix <notifications@github.com> wrote:

[2020-12-30 16:35] 1activegeek commented on #35
It is working for me for this specific use case around the SourceIP being passed properly (aka the x-forwarded-for header being present and showing the correct SourceIP). I have not tested this as a resolution to the bridge issue faced when replacing the docker binary on the syno. I'm hesitant to test that again as I had a major pain last time - I think because I forgot to manually spin down a bun

[2021-01-10 13:23] siddjellali commented on #47
Hi, for information, after a stop and start; all services go up again.
No need to reinstall anymore;

[code]

[2021-01-16 21:53] CardcaptorRLH85 opened #48 "[BUG] After update, Docker service doesn't start."
**Describe the bug**
Exactly as it says in the title, the Docker service doesn't start after being updated with this script.  Fortunately, everything still works if I restore the binaries from the backup but, the entire reason for me to use this script was to get a more up-to-date version of Docker due to the known issue of not being able to update environment variables with the version currently

[2021-01-17 05:28] markdumay commented on #48
Hi @CardcaptorRLH85, sorry to hear about your issues. Luckily you were able to restore the Docker engine to its original state. The log file and configuration all look normal to me, right until step 9 that is. A few thoughts and questions, if you're up for additional investigation.
1. What filesystem does your NAS use?
1. What does the original (backed up) version of your Docker daemon configurati

[2021-01-18 05:22] CardcaptorRLH85 commented on #48
I'd be glad to help out.

1. I'm using Btrfs.
2. Here's my dockerd.json backup.
[code]
3. **This worked!**
4. This is the first thing I tried and, unfortunately, it didn't help at all.  I got an error code of 0 when I tried running that command.

When I tried shutting down all of my containers first just now, it worked.  I _probably_ should have tried that but it just never crossed my mind.

EDIT:

[2021-01-18 06:17] CardcaptorRLH85 commented on #3
As a note, after clearing my issue in #48, I _also_ ran into this problem.  Here's my post-update dockerd.json.
[code]

[2021-01-18 06:39] markdumay commented on #48
Thanks for the follow up @CardcaptorRLH85.

The `btrfs` support seems to questionable (see #22). My NAS uses `ext4`, so I haven't found a way to test this myself. Does below configuration work on your NAS? This is a fix that I'll address in #40.
[code]

The `db` logging driver is indeed a custom driver written by Synology. They use it as input for their GUI. I haven't found the source myself, reas

[2021-01-18 06:58] CardcaptorRLH85 commented on #48
I'd just finished reading the Known Issues and was about to edit my comment again before you replied.  Unfortunately, that change to my config doesn't fix things.  Since this makes the third time that I'll be editing the variables for ~2 dozen containers in the last few days, I'll certainly take your Docker Compose advice after restoring to the Synology version of Docker again.

[2021-01-18 07:15] markdumay commented on #48
The storage driver seems to be a tough one to fix. Docker's [documentation](https://docs.docker.com/storage/storagedriver/select-storage-driver/) provides some additional clues. If you have the time and patience, you could try alternative storage drivers instead. See below table for an overview.

Storage driver | Supported backing filesystems
-- | --
overlay2, overlay | xfs with ftype=1, ext4
fuse

[2021-02-20 17:51] gysmo38 commented on #35
Hello,
I have same issue on DS716II+. It work on my other nas DS718+.
I do not manage to find a solution yet. I try to debug and found something strange.
If I try to ping a container it failed but if I start a tcpdump on the interface, it start working.
So to get it work i use command
ifconfig docker0 promisc
ifconfig hassio promisc  (I use hassio)

[2021-02-21 08:36] gysmo38 commented on #35
I have another issue :( with interface hassio I have no NAT so no internet.

[2021-03-06 11:58] ypkdani00 commented on #3
Hello,

same problem as @rui-nar, i have ths error message:

i have this dockerd.json file:
``{
"registry-mirrors": [],
"data-root": "/var/packages/Docker/target/docker",\
"log-driver": "json-file",\
"group" : "administrator"\
}
``

someone have solve this problem? The hard drive on Docker is working is an ext4

[2021-04-06 17:21] siddjellali commented on #47
Hi @markdumay for information, the last update of yesterday solved my issue;
[code]

[2021-04-06 17:21] #47 closed, assigned to nobody

[2021-04-06 18:01] markdumay commented on #47
ok, glad to hear the issue has been solved for you!

[2021-04-06 18:08] draeron commented on #48
I got a question, I'm trying to change my storage driver to overlay2, my backend is already a ext4 volume. The docker daemon fail to start but i can't figure out where the daemon log are located. The `/var/log/Docker` is empty.

Context: I'm to run the k3s agent on my synology so that it can act as a node for storage but it require an overlay storage driver.

[2021-04-07 05:39] markdumay commented on #48
Does `/var/log/upstart/pkg-Docker-dockerd.log` provide any clues?

[2021-04-07 23:14] draeron commented on #48
Oh thanks! Just checked, now I got something to investigate :

[code]

Same thing with `overlay`. After checking `/proc/filesystems` I realized the DS918+ doesn't seems to support overlayfs. Checked the `/lib/modules` and ran `modprobe overlay` but nothing there.

Kernel version is `4.4.59+` (DSM 6.2.3) which should include overlay from my understanding but they might have removed it from their di

[2021-04-08 04:12] markdumay commented on #48
It's a pity that Synology does not support the overlay driver. They tend to heavily modify their distribution, so it doesn't come as a surprise.

I came across this [article](https://kristoferlundgren.medium.com/synology-run-the-latest-docker-daemon-without-patching-dsm6-x-7bb4834d87bc) on Medium from Kristofer Lundgren, who used Docker in Docker instead of upgrading the Docker daemon. Might be wo

[2021-06-02 15:53] mqtt-fan opened #52 "New package release on synology website"
There is a new Docker Engine (20.10.03) released on https://www.synology.com/de-de/dsm/packages/Docker

Maybe this content can help to understand how to build newer versions

[2021-06-03 05:09] markdumay commented on #52
Thanks for the update @mqtt-fan. I checked the release notes, there is still no mentioning about proper Docker Swarm support unfortunately.

My impression is that Synology modifies the Docker source code and recompiles the binaries themselves. When you extract the `Docker-x64-20.10.3-0552.spk` file manually (using `tar xf`), you can view a bunch of files, of which the script files are the most int

[2021-06-03 05:09] #52 closed, assigned to markdumay

[2021-06-03 07:28] technorabilia commented on #22
Now Docker 20.10.3 is available as a package for DSM 6.2 (and DSM 7 RC), I thought we would be able to upgrade to the latest Docker version 20.10.7 more easily but unfortunately there is still the annoying `inappropriate ioctl for device` error message when you install the latest Docker binaries.

[code]

[2021-06-03 07:39] markdumay commented on #22
That's unfortunate @technorabilia. I doubt Synology addressed any of the core issues with their Docker package to be honest. `btrfs` is still a no go it seems.

Another approach suggested by Kristofer Lundgren (full article on [Medium](https://kristoferlundgren.medium.com/synology-run-the-latest-docker-daemon-without-patching-dsm6-x-7bb4834d87bc)) is to use Docker-in-Docker instead. He also has an

[2021-06-03 07:51] technorabilia commented on #22
Thanks @markdumay, I will have a look at the dind solution. I did try different storage drivers `aufs`, `overlay2`, `btrfs` and `vfs` with various results. Storage driver `vfs` does seem to work on `btrfs` as well, but of course you do not have the benefits of `btrfs` since `vfs` is not a union file system and there is no cow support. At least to my (limited) understanding.

You can find my [findi

[2021-06-03 08:09] markdumay commented on #22
Impressive article @technorabilia! I was always a bit hesitant to bypass Docker's package completely and to install Docker from scratch instead. But it's great to know it can be done. If your suspicion is right, then Synology's flawed kernel support for `btrfs` is the core issue here.

I'll include a link to your article in the *Known Issues*, as it might help others too. Thanks for sharing your e

[2021-06-04 14:50] technorabilia commented on #22
I did some further research.

If I replace all the Synology docker binaries in `/volume1/@appstore/Docker/usr/bin` (version 20.10.3 from the latest Synology package) with the 20.10.7 ones, I get the `inappropriate ioctl for device` error message.

(in `/var/packages/Docker/etc/dockerd.json`, I also needed to replace the custom log-driver from db to json-file but that is another story...)

If I res

[2021-06-04 18:31] markdumay commented on #22
I think you’re right - Synology seems to tweak many of its software components and Docker is no exception. I haven’t found the source code unfortunately. A good starting point could be xpenology.com, but I couldn’t find anything related to Docker over there either.

[2021-09-17 11:33] markdumay opened #53 "Add support for DSM 7"
The current script has been tested with DSM 6 and rejects other major versions. On DSM 6, the script uses `synoservicectl` to verify, start, and stop the Docker package `pkgctl-Docker`. [DSM 7 has replaced](https://ineed.coffee/post/stopping-or-uninstalling-universal-search-on-dsm-7) `synoservicectl` with `synopkg`.

The following commands should replace the old commands on DSM 7 (root access requ

[2021-09-17 12:36] #53 closed, assigned to markdumay

[2021-09-27 10:40] wills106 opened #55 "[FeatureRequest] Add nvidia-docker2 support"
I was wondering now that the built in Synology Docker is Version 20.10.x would it be possible to use a similar method you are using to only add in the NVIDIA Container Toolkit "nvidia-docker2" so that GPU's can be used in the Synology Docker environment?

https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/install-guide.html

This would allow for Machine Learning and Transcoding supp

[2021-09-27 13:45] markdumay commented on #55
Interesting question! It looks like your Synology NAS would require a NVIDIA GPU to make this work? If so, this [link](https://www.synology.com/en-global/dsm/packages/NVIDIARuntimeLibrary) seems to suggest only the models DVA3221 and DVA3219 have a NVIDIA GPU.

Synology uses a heavily modified Linux distribution with a package manager called `ipkg`, so the steps listed in your link would not apply

[2021-09-27 14:17] wills106 commented on #55
Yes you would need an Nvidia GPU in there. Getting a GPU working isn't too hard from a driver point of view.

I am using a "DS918" I downloaded the pat file for DS1618 matching the same revision as mine ie  6.2.3-25426-3

Extracted:
nvidia-modeset.ko
nvidia-uvm.ko
nvidia.ko

Copied them into a folder in Volume1
Logged in via ssh and then did sudo -i
Copied them from the folder in Volume1 to /usr/l

[2021-09-27 14:28] markdumay commented on #55
Looks like you did quite some research already! So if I understand correctly, the following command now works for you?
[code]

Maybe it's my lack of understanding, but what is the advantage of getting `nvidia-smi` up and running without a physical GPU?

[2021-09-27 15:30] wills106 commented on #55
Sorry for the confusion, I have a GTX1650 in my Synology. nvidia-smi shows that it's working, once you have installed the drivers.

When I do the above command I get:

docker: Error response from daemon: could not select device driver "" with capabilities: [[gpu]].

nvidia-docker2 adds the GPU parts either as a wrapper to the normal docker or replaces it? That's the bit I'm not sure how it works y

[2021-09-27 17:18] markdumay commented on #55
Ah, thanks for clarifying. It’s difficult to say what’s causing this. Two things come to mind:
- You might need to modify the `daemon.json` file to include the GPU configuration
- You might need to manually restart the docker daemon

Sorry I can’t be of more help.

[2021-10-14 06:39] markdumay commented on #55
@wills106, any news regarding your investigation? I suggest to close this issue for now, unless you want to keep on working on it.

[2021-10-14 07:22] wills106 commented on #55
I'll close it for now.

[2021-10-14 07:22] #55 closed, assigned to nobody

[2021-10-26 19:30] frobnicaty commented on #22
@technorabilia I had this issue. Just use Synology's shipped `/usr/sbin/btrfs`, which claims `--version`  of btrfs-progs v4.0. (Entware `opkg` has btrfs-progs v5.11.)

Synology's btrfs is able to do this just fine, whereas the opkg one errors with `Inappropriate ioctl for device`.

I haven't tested any other versions.

[code]

[2021-10-26 19:47] frobnicaty commented on #22
Also, the kernel config is at https://sourceforge.net/projects/dsgpl/files/Synology%20NAS%20GPL%20Source/25426branch/ -> pick your CPU architecture (e.g. V1000) -> linux-4.4.x.txz -> synoconfigs/$archname. Gzip that and it's compatible with https://raw.githubusercontent.com/docker/docker/master/contrib/check-config.sh.

The correct "package architecture" is listed for each model at https://kb.syno

[2021-10-26 21:57] 1activegeek commented on #22
No sure if it voids the issues fully, but I believe it does - it would appear that Synology has now finally caught up with the current versions of Docker, which I believe also brought about proper support for btrfs. I had not long ago updated my docker packages to the Sync versions, and I had Zero issues. Not sure if it's because I had already had fixes in place, but it may be more worth trying th

[2021-10-27 06:14] markdumay commented on #22
Thanks for sharing @frobnicaty, I have updated the known issues (#42) accordingly.

[2021-10-27 06:18] markdumay commented on #22
I agree with @1activegeek, it would be best if we would not have to use this custom update script at all. I am running DSM 7 on my NAS for a while now. Unfortunately, I still encountered issues with Docker stack deployments using Synology's Docker package. I did not investigate thoroughly though.

[2021-10-27 13:14] 1activegeek commented on #22
I'll have to take a peak when I get back on my docker stack on the DSM and see if it's because I already had mitigating changes in place from the work here or not. I didn't migrate to DSM 7 yet, as I want to let them bake that a bit more and close a few of the gaps they still have from the older DSM version. I'm sure in that migration I'll definitely feel the pain if it's still there as you mentio

[2021-11-11 21:41] hirenshah opened #56 "Updating to DSM 7"
Does anyone know what happens to Docker and macvlan network configurations when the Synology NAS is updated to DSM 7?

I'm guessing that everything will need to be updated again and the network reconfigured, but just thought I would ask so I can be prepared :)

[2021-11-12 05:36] markdumay commented on #56
Hi @hirenshah, I updated to DSM 7 without any issues. I've adjusted the Docker script to support DSM 7 (see release v1.4.0). I'm running my macvlan network without any issues. I updated to DSM 7 first, and then ran the script in this repository. It wouldn't hurt to make a backup of your files though ;-).

[2021-11-12 06:14] hirenshah commented on #56
@markdumay Did you have to set up your macvlan network again after upgrading to DSM 7?  I've not touched my set up since we last spoke (when you first created this script) so I don't actually remember everything I did to get it working lol.

[2021-11-12 10:05] markdumay commented on #56
I had to set up my macvlan network again indeed. I used this [script](https://github.com/markdumay/synology-pihole), which might be helpful.

[2021-11-12 11:56] hirenshah commented on #56
I didn't have to set mine up again. I have this script which I run on boot to set the routing:

[code]

[2021-11-12 12:28] markdumay commented on #56
Ok, great it worked out for you! Were you able to upgrade to DSM 7 without any other issues?

From: hirenshah ***@***.***>
Sent: Friday, 12 November 2021 12:57
To: markdumay/synology-docker ***@***.***>
Cc: Mark Dumay ***@***.***>; Mention ***@***.***>
Subject: Re: [markdumay/synology-docker] Updating to DSM 7 (Issue #56)

I had to set up my macvlan network again indeed. I used this script <https:

[2021-11-12 13:06] hirenshah commented on #56
No issues as far as I can tell... so far anyway lol.

[2021-11-12 13:18] markdumay commented on #56
You should be fine then! I upgraded to DSM 7 two months ago and haven't encountered any issues with the Docker update script and the macvlan network myself. Ok to close this issue for now?

[2021-11-12 13:19] #56 closed, assigned to markdumay

[2021-11-14 22:01] frobnicaty commented on #22
I've found the code responsible for this. In the [Synology kernel](https://archive.synology.com/download/ToolChain/Synology%20NAS%20GPL%20Source/7.0-41890), `linux-4.4.x.tar.gz`, the following BTRFS code is patched, and throws `ENOTTY` (= "Inappropriate ioctl for this device").

I'm not familiar with BTRFS or kernel internals, but combined with patches in `./include/uapi/linux/btrfs.h`, `./usr/inc

[2021-11-15 05:29] markdumay commented on #22
Thanks for sharing your findings @frobnicaty - that's some serious research! Looking forward to your continued investigation.

[2021-11-24 10:23] 77weiss opened #57 "[BUG] Docker-compose download error"
**Describe the bug**
with the script docker-compose cannot be downloaded because since docker-compose v2 the version part of the download url contains a leading 'v' which the script doesn't reflect.

The correct URL has to be

https://github.com/docker/compose/releases/download/v2.1.1/docker-compose-Linux-x86_64
not (https://github.com/docker/compose/releases/download/2.1.1/docker-compose-Linux-x8

[2021-11-24 22:07] rsik commented on #57
https://github.com/markdumay/synology-docker/blob/743dcc4a755178f7f32e9036ca4beecd9f74d41e/syno_docker_update.sh#L755

`https://github.com/docker/compose/releases/download/2.1.1/docker-compose-Linux-x86_64` generated from script
`https://github.com/docker/compose/releases/download/v2.1.1/docker-compose-linux-x86_64` actual link ('v' was missing and 'L' was capitalized')

Pesky missing and capital

[2021-11-26 05:53] markdumay commented on #57
Thanks for submitting the issue! I have updated the script and tested compatibility with the latest DSM package. It should now determine the correct download path for all major releases of Docker Compose. A new release of `synology-docker` is available as `v1.4.1`.

[2021-11-26 05:53] #57 closed, assigned to markdumay

[2021-11-26 06:46] markdumay commented on #57
In addition, I published a new release `v1.4.2`. This should fix the version detection of the installed Docker Compose binary. It seems the output of `docker-compose -v` has been updated too.

[2021-11-28 23:43] qm3ster commented on #3
1. What's wrong with `db` driver? What are the properties of it?
2. Why do we then prefer `json-file` and not `local`?

[2021-11-29 04:30] markdumay commented on #3
It seems `db` is a proprietary driver from Synology. It is not available with a default Docker installation. I have not tried `local` instead of `json-file` myself - care to try it and share your experience?

[2021-11-29 09:54] qm3ster commented on #3
I'll probably be trying it now. Allegedly it's the same thing (with log rotation support and stuff) as `json-file` but with less overhead than a json encoding.
The reason I am thinking of deviating from `db` is it seems to completely give up after a certain amount of spam. A running `docker logs -f` just stops yielding lines, the UI keeps only displaying logs up until that moment, and new `docker

[2021-11-29 13:23] qm3ster commented on #3
It seems that `local` works fine.
"No logs available." in the UI, but copes with the spam.
Fun side effect: in `docker logs -t` the `db` driver gave timestamp prefixes like
`2021-11-28T20:32:08.859717886Z  `  (RFC3339Nano Z, two spaces) while `local` gives
`2021-11-29T16:22:01.465997093+03:00 `  (RFC3339Nano Local, **one space**)

[2022-08-30 19:19] adn77 commented on #22
I don't know if this is any help to your original issue - for running the backup solution Urbackup in docker on DSM7 I have been successfully using the btrfs binary supplied with DSM7 by mounting it into the container.